<footer>
  
  
  <img src="/src/img/logo_white.png" style="width: 150px; margin-top: 54px" />
  <div style="margin-top: 20px; margin-bottom: 20px">
    <a href="https://blog.naver.com/prettyphone93"
      ><img
        src="/src/img/naver_logo.png"
        style="width: 36px; margin-right: 4px"
    /></a>
    <a href="https://talk.naver.com/ct/w5t762"
      ><img src="/src/img/talktalk_logo.png" 
         style="width: 36px; margin-left: 4px"
    /></a>
    <a href="https://pf.kakao.com/_xeaKNG/chat/"
      ><img src="/src/img/kakao_logo.png" style="width: 36px; margin-left: 4px"
    /></a>
    
  </div>
  <p class="p14" id="pc_footer" style="font-weight: 300; display: none">
    상호: 예쁜중고폰 | 대표자: 조초연 | 사업자 번호: 781-20-02046<br />고객센터:
    0507-1496-0568 | 이메일: ojphone@naver.com<br />주소: 충남 천안시 서북구
    두정중7길 1-12
  </p>
  <p
    id="mobile_footer"
    style="font-size: 11px; font-weight: 300; display: none"
  >
    상호: 예쁜중고폰 | 대표자: 조초연 | 사업자 번호: 781-20-02046<br />고객센터:
    0507-1496-0568 | 이메일: ojphone@naver.com<br />주소: 충남 천안시 서북구
    두정중7길 1-12
  </p>
  <p class="p14" style="font-weight: 300; margin-bottom: 60px">
    Copyright &copy; 2023 예쁜중고폰 Co., Ltd. All rights reserved.
  </p>

     

  
</footer>

<script>
  window.onload = function () {
    var pcFooter = document.getElementById("pc_footer");
    var mobileFooter = document.getElementById("mobile_footer");
    var isMobile = false;

    if (window.innerWidth <= 768) {
      isMobile = true;
    }

    if (isMobile) {
      mobileFooter.style.display = "block";
      pcFooter.style.display = "none";
    } else {
      mobileFooter.style.display = "none";
      pcFooter.style.display = "block";
    }
  };
</script>
<script>
  window.addEventListener("resize", function () {
    var pcFooter = document.getElementById("pc_footer");
    var mobileFooter = document.getElementById("mobile_footer");

    if (window.innerWidth <= 768) {
      mobileFooter.style.display = "block";
      pcFooter.style.display = "none";
    } else {
      mobileFooter.style.display = "none";
      pcFooter.style.display = "block";
    }
  });
</script>
